<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bCTF Setup</title>
    <!-- Bootstrap core CSS-->
    <link rel="stylesheet" type="text/css" href="/static/admin/static/css/bootstrap.min.css">

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" type="text/css" href="/static/admin/static/fonts/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/static/css/stepper.css">

</head>
<body>

{% block content %}

{% endblock %}

    <!-- Bootstrap core JavaScript-->
    <script src="/static/admin/static/js/jquery.min.js"></script>
    <script src="/static/admin/static/js/popper.min.js"></script>
    <script src="/static/admin/static/js/bootstrap.min.js"></script>
    <script src="/static/admin/static/js/stepper.js"></script>

</body>
</html>