{% extends 'base.html' %}
{% load static %}

{% block content %}
<nav class="navbar navbar-expand-md navbar-dark" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div id="main-navbar" class="navbar-collapse collapse"></div>
        <ul class="navbar-nav navbar-left">
            <li class="nav-item"><a class="nav-link"  href="{% url 'administration:informations'%}">Informations</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'administration:general'%}" >General</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'pages:list-pages' %}">Pages</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'administration:news' %}">News</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'administration:ctf' %}">CTF</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'administration:list-accounts' %}">Accounts</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'administration:docker' %}">Docker</a></li>
        </ul>
    </nav>
</nav>
<div class="jumbotron jt-scores">
    <div class="row tall-row text-center">
        <div class="col-lg-12">
            <h1>Administration <i class="fas fa-server"></i></h1>
            <hr>
        </div>
    </div>
</div>
    <div class="content">
        <div class="row">
            <div class="col-lg-12">
                {% block settings %}

                {% endblock %}
            </div>
        </div>
    </div>

{% endblock %}

{% block custom_javascript %}
<script>
$('document').ready(function() {
    $('.list-group-item').removeClass('active');
    $('a[href*="' + location.pathname + '"]').addClass('active'); 
})

</script>

{% endblock %}