{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="jumbotron jt-scores">
    <div class="row tall-row text-center">
        <div class="col-lg-12">
            <h1>Administration <i class="fas fa-server"></i></h1>
            <hr>
        </div>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-2" style="border-right:2em blue">
                <div class="list-group">
                        <a href="{% url 'administration:informations' %}" class="list-group-item list-group-item-action active">Informations</a>
                        <a href="{% url 'administration:general' %}" class="list-group-item list-group-item-action">General</a>
                        <a href="{% url 'pages:list-pages' %}" class="list-group-item list-group-item-action">Pages</a>
                        <a href="{% url 'administration:news' %}" class="list-group-item list-group-item-action">News</a>
                        <a href="{% url 'administration:ctf' %}" class="list-group-item list-group-item-action">CTF</a>
                        <a href="{% url 'administration:list-accounts' %}" class="list-group-item list-group-item-action">Accounts</a>
                        <a href="{% url 'administration:docker' %}" class="list-group-item list-group-item-action">Docker</a>
                        </div>
            </div>
            <div class="col-10">
                {% block settings %}

                {% endblock %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block custom_javascript %}
<script>
$('document').ready(function() {
    $('.list-group-item').removeClass('active');
    $('a[href*="' + location.pathname + '"]').addClass('active'); 
})

</script>

{% endblock %}