{% extends 'base.html' %}
{% load static %}
{% load account_tags %}

{% block extra_js %}
    <script src="{% static 'js/Chart.min.js' %}"></script>
    <script src="{% static 'js/profile.js' %}"></script>
{% endblock %}

{% block content %}
<div class="jumbotron jt-scores">
    <div class="row tall-row text-center">
        <div class="col-lg-12">
            <h1>#{{object.rank}} {{object.username|safe}}</h1>
            <hr>
        </div>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-4">

                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        {% if object.country %}
                            <img src="{{object.country.flag}}">
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <img src="{{ object|gravatar:250 }}" />
                    </div>
                    <div class="card-footer">
                        Points: {{object.points}}
                    </div>
                </div>

            </div>
            <div class="col-4">
                    <div style="height: 300px">
                        <canvas id="id_solved_chart" width="300px"></canvas>
                    </div>
                    <hr />
            </div>
            <div class="col-4">
                <h4>History</h4>
                <hr />
                <h6>Solved</h6>
                {% if solved.count == 0 %}
                    <p>Nothing solved yet!</p>
                {% else %}
                <ul>
                    {% for solve in solved %}
                        <li>{{solve.challenge.name}}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                <h6>First bloods</h6>
                {% if solved.count == 0 %}
                    <p>No first bloods!</p>
                {% else %}
                <ul>
                    {% for first_blood in first_bloods %}
                        <li>{{first_blood.challenge.name}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
$('document').ready(function() {
        var ctx = document.getElementById('id_solved_chart').getContext('2d');
        var stats = {{solved_stats|safe}};
        solvedChart(ctx, stats)
});
</script>
{% endblock %}