{% extends 'base.html' %}
{% load static %}
{% load account_tags %}

{% block extra_js %}
    <script src="{% static 'js/Chart.min.js' %}"></script>
    <script src="{% static 'js/profile.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row tall-row">
    <div class="col-lg-12">
        <div class="d-flex justify-content-between bd-highlight mb-3">
            <div class="p-2 bd-highlight">
                <h1>#{{object.rank}} </h1>
            </div>
            <div class="p-2 bd-highlight">
                <h1>{{object.username|safe}}</h1>
            </div>
            <div class="p-2 bd-highlight">
                {% if object.country %}
                    <img src="{{object.country.flag}}" class="img-fluid" width="25" height="20">
                {% endif %}
            </div>
        </div>
        <hr>
    </div>
</div>
<div class="content">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-auto">
                        <img src="{{ object.get_avatar_medium }}" class="img-fluid" alt="">
                    </div>
                    <div class="col">
                        <div class="card-block px-2">
                            <h4 class="card-title">{{object.username}}</h4>
                            <p class="card-text">Currently at <b style="color:whitesmoke">{{object.rank|to_word}}</b> place!</p>
                            <h4>Points: <span class="badge badge-dark">{{object.points}} pts</span></h4>
                        </div>
                    </div>
                </div>
                <div class="card-footer w-100 text-muted">
                    Footer stating cats are CUTE little animals
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div style="height: 300px">
                <canvas id="id_solved_line_chart"></canvas>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div style="height: 300px">
                <canvas id="id_solved_chart" width="300px"></canvas>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <h3>History</h3>
            <hr />
            <h6>Solved</h6>
            {% if solved|length == 0 %}
                <p>Nothing solved yet!</p>
            {% else %}
            <ul>
                {% for solve in solved %}
                    <li>{{solve.challenge.name}} - ({{solve.challenge.category}} - {{solve.challenge.points}})</li>
                {% endfor %}
            </ul>
            {% endif %}

            <h6>First bloods</h6>
            {% if not first_bloods %}
                <p>No first bloods!</p>
            {% else %}
            <ul>
                {% for first_blood in first_bloods %}
                    <li>{{first_blood.challenge.name}}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block custom_javascript %}
<script>
$('document').ready(function() {
        var ctx = document.getElementById('id_solved_chart').getContext('2d');
        var stats = {{solved_stats|safe}};
        solvedChart(ctx, stats)

        var new_ctx = document.getElementById('id_solved_line_chart').getContext('2d');
        var dataset = {{solved_dataset|safe}};
        solvedLineChart(new_ctx, dataset)
});
</script>
{% endblock %}