{% extends 'administration/index.html' %}
{% load static %}

{% block extra_js %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap4.min.css' %}">

    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>

{% endblock %}

{% block settings %}
<div id="id_search_area" class="id_search_area">
</div>
<table class="table table-borderless" id="id_accounts_table">
    <thead>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Type</th>
        <th>Status</th>
        <th></th>
    </thead>
    <tbody>
        {% for account in accounts %}
        <tr>
            <td>{{account.pk}}</td>
            <td><a href="{% url 'profile' account.pk %}">{{account.username}}</a></td>
            <td>{{account.email}}</td>
            {% if account.is_superuser %}
                <td style="color:red">Admin</td>
            {% elif account.is_staff %}
                <td>Staff</td>
            {% else %}
                <td>Normal</td>
            {% endif %}
            {% if account.is_active %}
                <td><button class="btn btn-success deactivate" data-account-id="{{account.pk}}">Active</button></td>
            {% else %}
                <td><button class="btn btn-danger activate" data-account-id="{{account.pk}}">Banned</button></td>
            {% endif %}
            <td>
                <a data-account-id="{{account.pk}}" data-toggle="modal" data-target="#updateAccountModal">
                    <i class="fas fa-edit fa-lg"></i>
                </a>
                <a data-account-id="{{account.pk}}" data-toggle="modal" data-target="#deleteAccountModal">
                    <i class="fas fa-trash fa-lg"></i>
                </a>
            </td>
        </tr>
        {% endfor %}

</table>

<!-- Edit Account Modal -->
<div class="modal fade" tabindex="-1" id="updateAccountModal">
    <!-- Hack to close modal from inside another view -->
    <div class="modal-dialog modal-dialog-centered" role="document">
    </div>
</div>

<!-- Delete Account Modal -->
<div class="modal fade" tabindex="-1" id="deleteAccountModal">
    <!-- Hack to close modal from inside another view -->
    <div class="modal-dialog modal-dialog-centered" role="document">
    </div>
</div>

<script>

$('document').ready(function() {
    $('#id_accounts_table').DataTable({
    "bLengthChange": false,
    "ordering": false,
    language: {
        searchPlaceholder: "Search accounts..."
    },
    initComplete : function() {
        $("#id_accounts_table_filter").detach().appendTo('#id_search_area');
    }
    });

    $('#updateAccountModal').on('show.bs.modal', function (event) {
        var modal = $(this)
        var accountID = $(event.relatedTarget).data('account-id');
        var formURL = `/administration/accounts/${accountID}/update`
        $.ajax({
            url: formURL,
            context: document.body
        }).done(function(response) {
            modal.html(response);
        });
    })

    $('#deleteAccountModal').on('show.bs.modal', function (event) {
        var modal = $(this)
        var accountID = $(event.relatedTarget).data('account-id');
        var formURL = `/administration/accounts/${accountID}/delete`
        $.ajax({
            url: formURL,
            context: document.body
        }).done(function(response) {
            modal.html(response);
        });
    })

    $('.deactivate').on('click', function() {
        var accountID = $(this).data('account-id');
        var URL=`/administration/accounts/${accountID}/toggle`;
        var DATA = {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            is_active: 'False'
        }

        $.ajax({
            type: "POST",
            url: URL,
            data: DATA,
            success: function (data) {
                window.location.reload();
            },
        });
    });

    $('.activate').on('click', function() {
        var accountID = $(this).data('account-id');
        var URL=`/administration/accounts/${accountID}/toggle`;
        var DATA = {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            is_active: 'True'
        }

        $.ajax({
            type: "POST",
            url: URL,
            data: DATA,
            success: function (data) {
                window.location.reload();
            },
        });    
        });

} );
</script>
{% endblock %}