{% extends 'administration/index.html' %}
{% load static %}

{% block extra_js%}
    <script src="{% static 'js/jquery.form.js' %}"></script>
{% endblock %}

{% block settings %}

<div class="content">
    <button class="btn btn-info" data-toggle="modal" data-target="#newsCreateModal"><i class="fas fa-plus"></i> Add news</button>
    <br />
    <table class="table table-borderless">
        <thead>
            <tr>
                <td>Post Text</td>
                <td>Created at</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            {% for news in object_list %}
            <tr>
                <td>{{news.text}}</td>
                <td style="color:yellow">{{news.created_at}}</td>
                <td>
                    <a data-news-id="{{news.pk}}" data-toggle="modal" data-target="#newsUpdateModal">
                            <i class="fas fa-edit fa-lg"></i>
                    </a>
                    <a data-news-id="{{news.pk}}" class="delete-news">
                        <i class="fas fa-trash fa-lg"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- News Create Modal -->
<div class="modal fade" tabindex="-1" id="newsCreateModal">
    <!-- Hack to close modal from inside another view -->
    <div class="modal-dialog modal-dialog-centered" role="document">
    </div>
</div>

<!-- News Create Modal -->
<div class="modal fade" tabindex="-1" id="newsUpdateModal">
    <!-- Hack to close modal from inside another view -->
    <div class="modal-dialog modal-dialog-centered" role="document">
    </div>
</div>

{% endblock %}

{% block custom_javascript %}

<script>

$('document').ready(function() {
    $('#newsCreateModal').on('show.bs.modal', function (event) {
        var modal = $(this)
        var formURL = `{% url 'administration:add-news' %}`
        $.ajax({
            url: formURL,
            context: document.body
        }).done(function(response) {
            modal.html(response);
        });
    })

    $('#newsUpdateModal').on('show.bs.modal', function (event) {
        var modal = $(this)
        var newsID = $(event.relatedTarget).data('news-id');
        var formURL = `${newsID}/update`
        $.ajax({
            url: formURL,
            context: document.body
        }).done(function(response) {
            modal.html(response);
        });
    })

    $(".delete-news" ).click(function() {
        var newsID = $(this).data('news-id');
        var URL=`${newsID}/delete`;
        var DATA = {
            csrfmiddlewaretoken: '{{ csrf_token }}',
        }

        $.ajax({
            type: "POST",
            url: URL,
            data: DATA,
            success: function (data) {
                window.location.reload();
            },
        });
    
    });

})
</script>

{% endblock %}