{% extends 'templates/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'flags/sprite-hq.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="{{theme_static}}/js/Chart.min.js"></script>
    <script src="{{theme_static}}/js/scoreboard.js"></script>    
{% endblock %}

{% block content %}
<div class="grid">
    <div class="cell -12of12">
                <h1><i class="fas fa-trophy" style="color:goldenrod"></i> Scoreboard</h1>
    </div>
</div>

<div id="score-graph-placeholder">
    <div id="loaderScoreboard" class="loader align-content-center"></div>
    <canvas id="score-graph-live"></canvas>
</div>

<div id="chart-legend"></div>

<div class="table">
    <table class="table" id="scores">
        <thead>
            <tr>
                <th scope="col" class="tr-rank">#Rank</th>
                <th scope="col">Team</th>
                <th scope="col">Country</th>
                <th scope="col">Points</th>
            </tr>
        </thead>
        <tbody id="scores-body">
        </tbody>
    </table>
</div>


{% endblock %}