{% load crispy_forms_tags %}

<div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="update-account-modal-title">Update {{object.username}}</h5>
            <button type="button" id="closeModal" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'administration:update-account' object.pk %}" id="update-account-from">
                    {% csrf_token %}
                    {{form|crispy}}
                    <button id="submit" type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>
    
    <script>
    $('document').ready( function() {
    
        var form_options = {
                target: '#updateAccountModal',
                success: function() { }
            }
            $('#update-account-from').ajaxForm(form_options);
    
    
    })
    </script>