{% extends 'templates/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'flags/sprite-hq.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="{{theme_static}}/js/Chart.min.js"></script>
    <script src="{{theme_static}}/js/scoreboard.js"></script>    
{% endblock %}

{% block content %}
<div class="row">
    <div class="col l12 s12">
        <div id="score-graph-placeholder">
            <div id="loaderScoreboard" class="loader align-content-center"></div>
            <canvas id="score-graph-live"></canvas>
        </div>

        <div id="chart-legend"></div>
    </div>
</div>

<div class="row">
    <div class="col l12 s12">
        <table class="highlight" id="scores">
            <thead>
                <tr>
                    <th>#Rank</th>
                    <th>Team</th>
                    <th>Country</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody id="scores-body">
            </tbody>
        </table>
    </div>
</div>


{% endblock %}