{% extends 'light/templates/base.html' %}
{% load static %}

{% block extra_js%}
    <script src="{% static 'js/jquery.form.js' %}"></script>
{% endblock %}

{% block content %}
<div class="jumbotron jt-scores">
    <!-- Typography -->
    <div class="row tall-row text-center">
        <div class="col-lg-12">
            <h1>Challenges <i class="fas fa-flag-checkered"></i></h1>
            <hr>
        </div>
    </div>
    <div class="col-md-12 text-center" id="challenge-loader">
        <i class="fas fa-circle-notch fa-spin fa-3x fa-fw spinner"></i>
    </div>
    <table class="challenge-table" id="challenge-table" style="display:none">
        <tbody>
        {% for category in categories %}
            <tr>
                <td class="category">{{category}}</td>
                {% for challenge in challenges %}
                    {% if challenge.category == category and challenge.visible == True %}
                        <td class="challenge">
                            {% if challenge.pk in solved_by_user.all %}
                            <a  value="{{challenge}}" 
                                class="btn btn-success btn-challenge"
                                href="#challengeModals"
                                data-toggle="modal"
                                data-target="#challengeModals"
                                data-challenge-id="{{challenge.pk}}"
                                >
                                <i class="fas fa-check"></i>
                            {% else %}
                            <a  value="{{challenge}}" 
                                class="btn btn-primary btn-challenge"
                                href="#challengeModals"
                                data-toggle="modal"
                                data-target="#challengeModals"
                                data-challenge-id="{{challenge.pk}}"
                                >
                                <i class="fas fa-crosshairs"></i>
                            {% endif %}
                                {{challenge.name}}<br />{{challenge.points}}
                            </a>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block modals %}
<!-- Modal -->
<div class="modal fade" tabindex="-1" id="challengeModals">
    <!-- Hack to close modal from inside another view -->
    <div class="modal-dialog modal-dialog-centered" role="document">
    </div>
</div>

<script>
    $('document').ready(function() {
        $('#challenge-loader').hide();
        $('#challenge-table').show();
    
        $('#challengeModals').on('show.bs.modal', function (event) {
            var modal = $(this)
            var challengeID = $(event.relatedTarget).data('challenge-id')
            //var formURL = "{% url 'challenge:flag-submit' 1 %}".replace('1', challengeID)
            var formURL = `/challenges/${challengeID}/flag/`
            $.ajax({
                url: formURL,
                context: document.body
            }).done(function(response) {
                modal.html(response);
            });
        })

    });
</script>
{% endblock %}