/* Coolors Exported Palette - coolors.co/3b1f2b-db162f-dbdfac-5f758e-383961 */

/* HSL */
$color1: hsla(334%, 31%, 18%, 1);
$color2: hsla(352%, 82%, 47%, 1);
$color3: hsla(65%, 44%, 77%, 1);
$color4: hsla(212%, 20%, 46%, 1);
$color5: hsla(239%, 27%, 30%, 1);

/* RGB */
$color1: rgba(59, 31, 43, 1);
$color2: rgba(219, 22, 47, 1);
$color3: rgba(219, 223, 172, 1);
$color4: rgba(95, 117, 142, 1);
$color5: rgba(56, 57, 97, 1);
