<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      {% load static %}
      {% load config_extras %}
      {% config 'logo' as site_logo %}
  
      <title>bCTF Registration</title>
      <!-- CSS files -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="{{theme_static}}/css/materialize.css">
      <link rel="stylesheet" type="text/css" href="{{theme_static}}/css/style.css">
      <style>
      .login-box {
        height: 100%;
      }
      </style>
      </head>
      
      <body class="dark-layout">
          <div class="valign-wrapper row login-box">
              <div class="col card hoverable s10 pull-s1 m6 pull-m3 l4 pull-l4">
                <form>
                  <div class="card-content">
                    <span class="card-title">Enter credentials</span>
                    <div class="row">
                      <div class="input-field col s12">
                        <label for="id_username">Username</label>
                        <input type="text" class="validate" name="username" id="id_username" />
                      </div>
                      <div class="input-field col s12">
                        <label for="password">Password </label>
                        <input type="password" class="validate" name="password" id="password" />
                      </div>
                    </div>
                  </div>
                  <div class="card-action right-align">
                    <input type="reset" id="reset" class="btn-flat grey-text waves-effect">
                    <input type="submit" class="btn green waves-effect waves-light" value="Login">
                  </div>
                </form>
              </div>
            </div>
        </main>
      
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
      </body>
      
      </html>