<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% load static %}
    {% load crispy_forms_tags %}
    {% load config_extras %}
    {% config as cfg %}
    <title>bCTF Registration</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/login.css' %}" rel="stylesheet">

    <!-- JS bootstrap-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </head>
  <body class="text-center">
    <form class="form-signin" method="POST">
      <img class="mb-4" src="{{cfg.ctf.logo}}" alt="">
      {% csrf_token %}
      {{form|crispy}}
      <div>
        <input type="checkbox" id="soul" name="soul" value="scales" checked /> <br />
        <label for="soul">I promise i'll come to next BalCCon!</label>
      </div>
      <a href="{% url 'login' %}">Already registred?</a><br />
      <button type="submit" class="btn btn-success">Register Team</button>
    </form>
  </body>
</html>