        <div class="card">
            <div class="card-header">
                <a id="closeChallenge" class="grid -right">close</a>
                <span class="challenge-category">{{challenge.category}}</span>
                <span class="badge badge-secondary">{{challenge.points}} pts</span> 
            </div>
            <div class="card-body">
                <!-- Challenge name -->
                <i class="fas fa-scroll"></i> {{challenge.name}}

                <!-- Challenge details -->
                {% if challenge.author %}
                <div class="challenge-author d-inline float-right">
                    Author: {{challenge.author}}
                </div>
                {% endif %}
                <p class="challenge-description">
                    {{challenge.description|linebreaks}}
                </p>
                {% if challenge.attachment_set.count > 0 %}
                {% for attachment in challenge.attachment_set.all %}
                        <a href="{{attachment.data.url}}"><i class="fas fa-download"></i> {{attachment.filename}}</a><br />
                    {% endfor %}
                {% endif %}

                <form method="POST" class="form" action="{% url 'challenge:flag-submit' challenge.pk %}" id="flag-submit-form">
                    {% csrf_token %}
                    <input type="hidden" id="challenge_id" name="challenge_id" value="{{challenge.pk}}">

                    {% if challenge.pk in solved_by_user %}
                        <div class="alert alert-success">
                            <strong>Already Solved</strong>
                        </div>
                    {% else %}
                    
                    {% if error %}
                    <fieldset class="form-group form-error">
                    {% else %}
                    <fieldset class="form-group form-warning">
                    {% endif %}
                        <label for="flag">FLAG:</label>
                        <input id="flag" name="flag" type="text" class="form-control" placeholder="Flag{} ..." required><br />
                    </fieldset>
                    <button id="submit" type="submit" class="btn btn-primary"><i class="fas fa-flag"></i> Check</button>
                    {% endif %}
                </form>
                {% if error %}
                    <div class="alert alert-error">
                        <strong>Oh snap! {{error}}</strong>
                    </div>
                {% endif %}
            </div>
        </div>

<script>                    

    $('document').ready( function() {

        var form_options = {
            target: '#challengeCard',
            success: function() { }
        }
        $('#flag-submit-form').ajaxForm(form_options);
        
        $("#closeChallenge").on('click', function() {
            $("#challengeCard").hide();
        })
    })
</script>