<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load config_extras %}
    {% config as cfg %}
    {% get_pages as pages %}

    <title>{{cfg.ctf.title}}</title>

    {% load static %}
    <!-- CSS files -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/news.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/challenge.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/loader.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/scoreboard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">

    <!-- Early JS-->
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>

</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <div class="navbar-header">
                {% if cfg.ctf.logo %}
                <a class="navbar-brand navbar-left" href="/" aria-label="CTF">
                    <img src="{{cfg.ctf.logo}}" style="width:120px;height:50px">
                </a>
                {% else %}
                <a class="navbar-brand" href="/" aria-label="bCTF">
                    {{cfg.ctf.title}}
                </a>
                {% endif %}

            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="navbar-nav navbar-left">
                    <li class="nav-item"><a class="nav-link" href="/"><i class="fas fa-home fa-lg"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'scoreboard:scoreboard' %}">Scoreboard</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'challenge:list-challenges' %}"><span class="glyphicon glyphicon-screenshot"></span> Challenges</a></li>
                    {% for page in pages %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'pages:details-page' page.slug %}">{{page.title}}</a></li>
                    {% endfor %}
                </ul>
                <ul class="navbar-nav ml-auto">
                    {% if user.is_superuser %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'administration:informations' %}">
                        <i class="fas fa-cog fa-lg"></i> Admin
                        </a>
                    </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user fa-lg"></i> ( {{user.username|safe}} )
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'profile' user.pk %}">Profile</a>
                                <a class="dropdown-item" href="{% url 'account-settings' %}">Settings</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'registration' %}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        {% block content %}

        {% endblock %}
    </div>

    {% block modals %}

    {% endblock %}
    <div id="footer" class="text-center">
        <p>
            Powered by <a href="https://github.com/spiperac/bctf/">bCTF</a>.
        </p>
    </div>
<!-- JavaScript files -->
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

{% block extra_js%}

{% endblock %}
</body>
</html>