<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load config_extras %}
    {% get_pages as pages %}
    {% config 'ctf_name' as ctf_name %}
    
    <title>{{ctf_name}}</title>
    
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{{theme_static}}/img/favicon.png"/>

    <!-- CSS files -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{theme_static}}/css/materialize.min.css">
    {% block extra_css%}
    
    {% endblock %}
</head>

<body class="">
    <!-- Navigation -->
  <div class="navbar-fixed">
      {% if request.user.is_authenticated %}
        <ul id="dropdown1" class="dropdown-content">
          <a class="dropdown-item" href="{% url 'profile' request.user.pk %}">Profile</a>
          <a class="dropdown-item" href="{% url 'account-settings' %}">Settings</a>
          <li class="divider"></li>
          <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
        </ul>
      {% endif %}
      <nav class="">
        <div class="nav-wrapper">
               <!-- NavBAR LOGO !-->
                    {% config 'logo' as site_logo %}
                    {% if site_logo %}
                    <a class="brand-logo" href="/" aria-label="CTF">
                        <img src="{{site_logo}}" width="120" height="50">
                    </a>
                    {% else %}
                    <a class="brand-logo" href="/" aria-label="bCTF">
                        {{ctf_name}}
                    </a>
                    {% endif %}
                <!-- NavBAR LOGO !-->

            <ul style="margin-left: 150px;">
                <li><a href="/"><i class="medium material-icons left">home</i>Home</a></li>
                <li><a href="{% url 'scoreboard:scoreboard' %}"><i class="medium material-icons left">flag</i>Scoreboard</a></li>
                <li><a href="{% url 'challenge:list-challenges' %}"><i class="medium material-icons left">bug_report</i>Challenges</a></li>
                {% for page in pages %}
                <li><a href="{% url 'pages:details-page' page.slug %}">{{page.title}}</a></li>
                {% endfor %}

            </ul>
            <ul class="right hide-on-med-and-down">
                    {% if request.user.is_superuser %}
                    <li><a href="{% url 'administration:index' %}">
                        <i class="medium material-icons left">settings_applications</i> Admin
                        </a>
                    </li>
                    {% endif %}

                    {% if request.user.is_authenticated %}
                        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Account<i class="material-icons right">arrow_drop_down</i></a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'registration' %}">Register</a></li>
                    {% endif %}
            </ul>
        </div>
      </nav>
  </div>


    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show fixed-top" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}
    {% endif %}

<main role="main">
    <div class="container">
        {% block content %}

        {% endblock %}
    </div>
</main>

<footer class="center-align">
          <div class="container">
            <div class="row center-align">
              <div class="col l12 s12 center-align">
                <p class="center-align">
                    Powered by <a href="https://github.com/spiperac/bctf/" target="_blank">bCTF</a>.
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- JavaScript files -->
<script src="{{theme_static}}/js/moment.min.js"></script>
<script src="{{theme_static}}/js/jquery.min.js"></script>
<script src="{{theme_static}}/js/materialize.min.js"></script>

<script>
    $('document').ready(function() {
        $(".dropdown-trigger").dropdown();
    });
</script>
{% block modals %}

{% endblock %}


<!-- JavaScript files -->
{% block extra_js%}
{% endblock %}

{% block custom_javascript %}

{% endblock %}

</body>
</html>