<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>bCTF</title>
    
    {% load static %}
    <!-- CSS files -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/news.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/challenge.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/loader.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/scoreboard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/honeycombs.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/css/all.min.css' %}">

    <!-- Early JS-->
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>

</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">bCTF</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="navbar-nav navbar-left">
                    <li class="nav-item"><a class="nav-link" href="{% url 'scoreboard:scoreboard' %}">Scoreboard</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'challenge:list-challenges' %}"><span class="glyphicon glyphicon-screenshot"></span> Challenges</a></li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    {% if user.is_superuser %}
                    <li class="nav-item"><a class="nav-link" href="/admin/">Admin</a></li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Profile({{user.username}})
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Profile</a>
                                <a class="dropdown-item" href="#">Settings</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'registration' %}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        {% block content %}

        {% endblock %}
    </div>

    {% block modals %}

    {% endblock %}

<!-- JavaScript files -->
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

{% block extra_js%}

{% endblock %}
</body>
</html>