{% extends 'base.html' %}
{% load static %}
{% load config_extras %}
{% config as cfg %}

{% block content %}

<!-- Jumbotron -->
<div class="jumbotron jt-scores">
    <div class="row tall-row text-center">
        <div class="col-lg-12">
            <h1>Welcome!</h1>
            <hr>
        </div>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-12 text-center">

                <div id="countDownTimer">
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <ul>
                    {% for article in news %}
                        <li>
                            <span style="color:yellow">[{{article.created_at}}]</span> <i class="fas fa-angle-double-right fa-lg"></i> {{article.text}}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-4">
                <h5>Events</h5>
            </div>
        </div>
    </div>
</div>

<script>
    $('document').ready(function() {
        var countDownTime = `{{cfg.ctf.end_time}}`;
        var startingTime = `{{cfg.ctf.start_time}}`;
        var now = moment().unix();
        
        if (startingTime == 'None' || countDownTime == 'None') {
            document.getElementById("countDownTimer").innerHTML = "Timer not set!"
        } else {
            if (now < startingTime) {
                var distance = startingTime - now;
                var duration = moment.duration(distance*1000, 'milliseconds');
                var interval = 1000;

                var x = setInterval(function() {
                    duration = moment.duration(duration - interval, 'milliseconds');
                    if ( duration > 0 ){
                        document.getElementById("countDownTimer").innerHTML = "CTF Starting in: " + duration.days() + "d " + duration.hours() + "h "
                    + duration.minutes() + "m " + duration.seconds() + "s ";
                    } else {
                        document.getElementById("countDownTimer").innerHTML = "CTF Ended!"
                    }
                }, 1000);

            } else {
                var distance = countDownTime - now;
                var duration = moment.duration(distance*1000, 'milliseconds');
                var interval = 1000;

                var x = setInterval(function() {
                    duration = moment.duration(duration - interval, 'milliseconds');
                    if ( duration > 0 ){
                        document.getElementById("countDownTimer").innerHTML = duration.days() + "d " + duration.hours() + "h "
                    + duration.minutes() + "m " + duration.seconds() + "s ";
                    } else {
                        document.getElementById("countDownTimer").innerHTML = "CTF Ended!"
                    }

                }, 1000);
            }
        }
       
    

    })

</script>
{% endblock %}