{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Jumbotron -->
<div class="jumbotron jt-scores">
    <div class="row tall-row text-center">
        <div class="col-lg-12">
            <h1>Welcome!</h1>
            <hr>
        </div>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-8">
                Haj
            </div>
            <div class="col-4">
                Hoj
            </div>
        </div>
    </div>
</div>

{% endblock %}