<div class="modal-content">
    <div class="modal-header">
        <h4>{{challenge.name}}<span class="badge right">{{challenge.points}} points</span></h4>
    </div>
    <div class="modal-body" onload="init_tabs()">

      <ul class="tabs">
        <li class="tab col s3"><a href="#description">Description</a></li>
        <li class="tab col s3"><a href="#hints">Hints</a></li>
        <li class="tab col s3"><a href="#solves">Solved</a></li>
      </ul>

        <div id="description">
            {{challenge.description|linebreaks}}

            <form method="POST" action="{% url 'challenge:flag-submit' challenge.pk %}" id="flag-submit-form">
                {% csrf_token %}
                    <input type="hidden" id="challenge_id" name="challenge_id" value="{{challenge.pk}}">

                {% if challenge.pk in solved_by_user %}
                    <div class="alert alert-success">
                        <strong>Solved<i class="material-icons left green cricle">check</i> </strong>
                    </div>
                {% else %}
                    <div class="input-field col s6">
                        <i class="material-icons prefix">flag</i>
                        <input id="flag" name="flag" type="text" class="form-control" placeholder="Flag{} ..." required><br />

                        <button id="submit" type="submit" onclick="submit_flag()" class="btn waves-effect waves-light" name="action"><i class="material-icons left">flag</i>Check</button>
                    </div>
                {% endif %}
            </form>
            {% if error %}
                    <script>
                        M.toast({html: 'Oh snap! {{error}}', classes: 'rounded red black-text'})
                    </script>
            {% endif %}
        </div>
        <div id="hints">
            hints
        </div>
        <div id="solves">
            solves
        </div>

    </div>

    
</div>
