<div class="modal-content">
    <div class="card">
        <div class="card-title">
            {{challenge.name}}
        </div>
        <div class="card-content">
            {{challenge.description}}
        </div>
        <div class="card-footer">
            <div class="form-group">
                <form method="POST" action="{% url 'challenge:flag-submit' challenge.pk %}" id="flag-submit-form">
                    {% csrf_token %}
                        <input type="hidden" id="challenge_id" name="challenge_id" value="{{challenge.pk}}">
                    
                    {% if challenge.pk in solved_by_user %}
                        <div class="alert alert-success">
                            <strong>Already Solved</strong>
                        </div>
                    {% else %}
                        <div class="input-group mb-3">
                            <input id="flag" name="flag" type="text" class="form-control" placeholder="Flag{} ..." required><br />
                            <div class="input-group-append">
                                <button id="submit" type="submit" onclick="submit_flag()" class="btn waves-effect waves-light" name="action"><i class="material-icons left">flag</i>Check</button>
                            </div>
                        </div>
                    {% endif %}
                </form>
                {% if error %}
                    <div class="alert alert-dismissible alert-danger">
                        <button type="button" data-dismiss="alert" class="close">×</button>
                        <strong>Oh snap! {{error}}</strong>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
