<div class="modal-content">
    <div class="modal-header">
        <h4>{{challenge.name}}<span class="badge right white-text">{{challenge.points}} points</span></h4>
    </div>
    <div class="modal-body" onload="init_tabs()">

        <!-- Tabs -->
        <div class="row">
            <div class="col s12 m12 l12">
                <ul class="tabs" id="challenge-tabs">
                    <li class="tab col s4 m4 l4"><a href="#description">Description</a></li>
                    <li class="tab col s4 m4 l4"><a href="#hints">Hints - <strong>{{challenge.hint_set.count}}</strong></a></li>
                    <li class="tab col s4 m4 l4"><a href="#solves">Solved - <strong>{{challenge.solves.count}}</strong></a></li>
                </ul>
            </div>
        </div>

        <div id="description">
            
            <div class="row">
                <div class="col s12 m12 l12">
                    <div class="challenge-description">
                        {{challenge.description|linebreaks}}
                    </div>

                    {% if challenge.attachment_set.count > 0 %}
                        <ul class="collection" style="border: 0px !important;">
                        {% for attachment in challenge.attachment_set.all %}
                            <li class="collection-item" style="border: 0px !important;">
                                <i class="material-icons circle left">file_download</i><a class="truncate" href="{{attachment.data.url}}">{{attachment.filename}}</a>
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col s12 m12 l12">
                    <form method="POST" action="{% url 'challenge:flag-submit' challenge.pk %}" id="flag-submit-form">
                        {% csrf_token %}
                            <input type="hidden" id="challenge_id" name="challenge_id" value="{{challenge.pk}}">

                        {% if challenge.pk in solved_by_user %}
                            <div>
                                <strong>Solved<i class="material-icons left green circle">check</i> </strong>
                            </div>
                        {% else %}
                            <div class="input-field">
                                <input id="flag" name="flag" type="text" class="validate" autocomplete="off" placeholder="Flag here ..." required>
                            </div>
                            <button id="submit" type="submit" onclick="submit_flag()" class="btn right" name="action">
                                <i class="material-icons left">flag</i>Submit
                            </button>
                        {% endif %}
                    </form>
                    {% if error %}
                            <script>
                                M.toast({html: 'Oh snap! {{error}}', classes: 'rounded red black-text'})
                            </script>
                    {% endif %}
                    {% if messages %}
                        {% for message in messages %}
                            <script>
                                M.toast({html: '{{message}}', classes: 'rounded red black-text'})
                            </script>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            
        </div>

        <!-- Hints -->
        <div id="hints">
            <div class="row">
                <div class="col s12 m12 l12">
                    <ul>
                        {% for hint in challenge.hint_set.all %}
                            <li>{{hint.text}}</li>
                        {% empty %}
                            <li>No hints!</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <!-- Solves -->
        <div id="solves">
            <div class="row">
                <div class="col s12 m12 l12">
                    <table>
                        <thead class="table">
                            <th>Team</th>
                            <th>Time</th>
                        </thead>
                        <tbody>
                            {% for solve in challenge.solves.all %}
                            <tr>
                                <td><a href="{% url 'profile' solve.account.pk %}">{{solve.account.username}}</a></td>
                                <td>{{solve.created_at}}</td>
                            </tr>
                            {% empty %}
                                <p>No solves yet!</p>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
