{% extends 'templates/base.html' %}
{% load static %}

{% block extra_js%}
    <script src="{{theme_static}}/js/jquery.form.js"></script>
{% endblock %}

{% block content %}
    <!-- Typography -->
    <div class="row">
        <div class="col l12">
            <h1>Challenges <i class=" large material-icons right">flag</i></h1>
            <div class="divider"></div>
        </div>
    </div>
    <div class="col-md-12 text-center" id="challenge-loader">
        <i class="fas fa-circle-notch fa-spin fa-3x fa-fw spinner"></i>
    </div>

    <div class="row">
        <div class="col m12 s12">
            {% for category in categories %}
                    <h1>{{category}}</h1>
                    {% for challenge in category.challenge_set.all %}
                        {% if challenge.visible %}
                            {% if challenge.pk in solved_by_user %}
                            <a  value="{{challenge}}" 
                                class="btn btn-large modal-trigger"
                                href="#challengeModal"
                                data-challenge-id="{{challenge.pk}}"
                                >
                                <i class="fas fa-check"></i>
                            {% else %}
                            <a  value="{{challenge}}" 
                                class="btn btn-large modal-trigger"
                                href="#challengeModal"
                                data-challenge-id="{{challenge.pk}}"
                                >
                                <i class="fas fa-crosshairs"></i>
                            {% endif %}
                                {{challenge.name}}<br />{{challenge.points}}
                            </a>
                            <!-- Modal -->
                        {% endif %}
                    {% endfor %}
                {% endfor %}
        </div>
    </div>



<div id="challengeModal" class="modal" style="max-height: 100% !important;">
</div>
{% endblock %}

{% block custom_javascript %}

<script>
    function submit_flag() {
        var form_options = {
                target: '#challengeModal',
                success: function() { 
                }
            }
            //document.querySelector('#flag-submit-form').ajaxForm(form_options)
        $('#flag-submit-form').ajaxForm(form_options);
    }

    document.addEventListener('DOMContentLoaded', function() {
        var options = {
            onOpenStart: function(chall_modal) {
                var modal = this.$el
                var challengeID = this._openingTrigger.dataset.challengeId
                var formURL = `/challenges/${challengeID}/flag/`
                $.ajax({
                    url: formURL,
                    context: document.body
                }).done(function(response) {
                    modal.html(response);
                    window.location.hash = "#" + challengeID;
                }).fail(function(err){
                    if (err.status == 403) {
                        modal.html(`
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    CTF Ended
                                </div>
                                <div class="modal-body">
                                    Be faster next year!
                                </div>
                            </div>
                        </div>
                        `)
                    }
                });
            }
    }
    var elem = document.querySelectorAll('.modal');
    var instance = M.Modal.init(elem, options);


    if(window.location.hash) {
      var hash = window.location.hash.split('#')[1];
      var chall = $('*[data-challenge-id="' + hash + '"]')[0]
      chall.click()
    }


  });
  </script>
{% endblock %}