{% extends 'base.html' %}
{% load static %}

{% block extra_js%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/hexagons.css' %}">

    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/hexagons.min.js' %}"></script>

{% endblock %}

{% block content %}
<!-- Typography -->
<div class="row tall-row text-center">
    <div class="col-lg-12">
        <h1> <i class="fas fa-flag-checkered"></i> Challenges</h1>
        <hr>
    </div>
</div>
<div class="col-md-12 text-center" id="challenge-loader">
    <i class="fas fa-circle-notch fa-spin fa-3x fa-fw spinner"></i>
</div>
<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="row">
                    <div class="col-4">
                        <label for="btnShowChallenges" class="control-label">Challenges</label>
                        <div>
                            <div class="btn-group btn-group-toggle" data-toggle="buttons" id="btnShowChallenges">
                                <label class="btn btn-secondary active">
                                    <input type="radio" id="option-all" value="All" checked> All
                                </label>
                                <label class="btn btn-secondary">
                                    <input type="radio" id="option-unsolved" value="Unsolved" > Unsolved
                                </label>
                                <label class="btn btn-secondary">
                                    <input type="radio" id="option-solved" value="Solved"> Solved
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <label for="btnShowCategories">Categories</label>
                        <div>
                            <div class="btn-group btn-group-toggle" data-toggle="buttons" id="btnShowCategories">
                                <label class="btn btn-secondary active">
                                    <input type="radio" value="All" checked> All
                                </label>
                                {% for category in categories %}
                                <label class="btn btn-secondary">
                                    <input type="radio" value="{{category}}" > {{category}}
                                </label>
                                {% endfor %}
                            </div>
                        </div>           
                    </div>
            </div>
            <br />
            {% for challenge in challenges %}
                {% if challenge.visible %}
                    {% if challenge.pk in solved_by_user %}
                        <a value="{{challenge}}"
                        id="challengeBtn"
                        href="#challengeModals"
                        data-toggle="modal"
                        data-target="#challengeModals"
                        data-challenge-id="{{challenge.pk}}"
                        data-category="{{challenge.category}}"
                        data-status-solved="Solved"
                        class="challengebtn solved-challenge">
                        <span class="hb hb-md hb-custom solved-challenge">
                    {% else %}
                        <a value="{{challenge}}" 
                        id="challengeBtn"
                        href="#challengeModals"
                        data-toggle="modal"
                        data-target="#challengeModals"
                        data-challenge-id="{{challenge.pk}}"
                        data-category="{{challenge.category}}"
                        data-status-solved="Unsolved"
                        class="challengebtn unsolved-challenge">
                        <span class="hb hb-md hb-custom unsolved-challenge">
                    {% endif %}
                            <span class="front-btn">
                                <p>{{challenge.category}}</p>
                                <p>{{challenge.points}}</p>
                            </span>
                            <span class="back-btn">
                                <p><b>{{challenge.name}}</b></p>
                                <p>Solved: {{challenge.solves_set.all.count}}</p>
                            </span>
                        </span>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-4">
            <h4><i class="fas fa-tint fa-danger" style="color:red"></i> First Bloods!</h4>
            {% if first_bloods.count == 0 %}
                <p>No first bloods yet!</p>
            {% else %}
                <table class="table table-borderless">
                    <thead>
                        <th>Team</th>
                        <th>Challenge</th>
                        <th>Time</th>
                    </thead>
                    <tbody>
                        {% for first_blood in first_bloods %}
                        <tr>
                            <td><a href="{% url 'profile' first_blood.account_id %}" style="color:green">{{first_blood.account.username}}</a></td>
                            <td>{{first_blood.challenge.name}}</td>
                            <td>{{first_blood.created_at}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            <h4><i class="fas fa-crosshairs" style="color:black"></i> Solves stats</h4>
            <table class="table table-borderless">
                <thead>
                    <th>Challenge</th>
                    <th>Solved</th>
                </thead>
                <tbody>
                    {% for solve in solves %}
                            <tr>
                                <td>{{solve.challenge__name}}</td>
                                <td>{{solve.c}}</td>
                            </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>
{% endblock %}

{% block modals %}
<!-- Modal -->
<div class="modal fade" tabindex="-1" id="challengeModals" role="dialog">
    <!-- Hack to close modal from inside another view -->
    <div class="modal-dialog" role="document">
    </div>
</div>

<script>
    $('document').ready(function() {

        $('#btnShowChallenges .btn, #btnShowCategories .btn').on('change', function(event) {
            $(this).addClass('active');
            var challenges= $('#btnShowChallenges .active :input').val();
            var category = $('#btnShowCategories .active :input').val();
            if (challenges == "All") {
                if (category == "All") {
                    $(".challengebtn").show();
                } else {
                    $(`[data-category="${category}"]`).show()
                    $('a').not(`[data-category="${category}"]`).hide()
                }
            } else {
                if (category == "All") {
                    $(`[data-status-solved="${challenges}"]`).show();
                    $('a').not(`[data-status-solved="${challenges}"]`).hide();
                } else {
                    $(`[data-status-solved="${challenges}"][data-category="${category}"]`).show();
                    $('a').not(`[data-status-solved="${challenges}"][data-category="${category}"]`).hide();                   
                }
            }
            $(this).removeClass('active');


        });


        $('#challenge-loader').hide();
        $('#challenge-table').show();

        $('#challengeModals').on('show.bs.modal', function (event) {
            var modal = $(this)
            var challengeID = $(event.relatedTarget).data('challenge-id')
            var formURL = `/challenges/${challengeID}/flag/`
            $.ajax({
                url: formURL,
                context: document.body
            }).done(function(response) {
                modal.html(response);
            }).fail(function(err){
                if (err.status == 403) {
                    modal.html(`
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                CTF Ended
                            </div>
                            <div class="modal-body">
                                Be faster next year!
                            </div>
                        </div>
                    </div>
                    `)
                }
            });
        })

    });
</script>
{% endblock %}