{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<a role="button" class="btn btn-primary" href="{% url 'administration:ctf' %}"> <i class="fas fa-arrow-left fa-lg"></i> Back</a>
<h1 class="text-center">New Challenge</h1>
<form method="POST" action="{% url 'challenge:create-challenge' %}" id="new-challenge-from" enctype="multipart/form-data">
    {% csrf_token %}
    {{form|crispy}}
    <div class="input-group mb-3">
        <input id="id_attachment" name="attachments" type="file" class="form-control" multiple><br />
    </div>
    <button id="submit" type="submit" class="btn btn-primary">Create</button>

</form> 
{% endblock %}