#id_search_area {
    width: 100%;
    clear: both;
    padding-top: 20px;
    padding-bottom: 20px;
}

#id_search_area input {
    width: 600px;
    font-size: 20px;
    padding: 20px;
}

#countDownTimer {
    font-size: 35px;
    padding: 20px;
}

.challenge-description {
    color: #fff;
    font-size: 15px;
    padding: 25px;
}

body {
    color:#949ba2;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

hr {
    border: none;
    height: 1px;
    color: black;
    background-color: black;
}