.loader{border:16px solid #f3f3f3;border-top:16px solid #3498db;border-radius:50%;width:120px;height:120px;animation:spin 2s linear infinite;margin:auto}@keyframes spin{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}
.tr-rank{width:50px}.td-points{font-size:18px;color:#fff}

.mainframe {
    margin: 10px auto 20px auto; 
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    background-color: #303030; 
}

.navbar {
    background-color: #222;
}

#id_search_area {
    width: 100%;
    clear: both;
    padding-top: 20px;
    padding-bottom: 20px;
}

#id_search_area input {
    width: 600px;
    font-size: 20px;
    padding: 20px;
}

#countDownTimer {
    font-size: 35px;
    padding: 20px;
}

.challenge-description {
    color: #fff;
    font-size: 15px;
    padding: 25px;
}

body {
    color:#949ba2;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

hr {
    border: none;
    height: 1px;
    color: black;
    background-color: black;
}

.challenge-title {
    padding-top: 10px;
    color: greenyellow;
}

.challenge-category {
    color: greenyellow;
}