.dark-layout {
    background-color: #201f1D;
}

.container.dark {
    background: #303030;
    padding: 20px;
}

.challenge-button {
    height: 100px;
    width: 200px;
    margin: 10px;
    background-color: black;
}

.challenge-button.solved {
    background-color: green;
}

#countDownTimer {
    padding: 10px;
    font-size: 18pt;
}